*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}


button {
  text-transform: uppercase;
}

#player {
  border-radius: 10px;
}
.strobe {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-family: Rubik !important;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}


ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

header, #vaultContainerBig, #vaultContainerSmall, .timeline, .footer {
  box-shadow: #000 0px 2px 5px 1px !important;
}

.ant-layout {
  display: flex;
  flex: auto;
  flex-direction: column;
  min-height: 0;
  background-size: 12%;
  animation: changeColor 30s ease-in-out infinite;
  background-position: center;
  background-color: #201b58;
  background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%232decb6' fill-opacity='0.32' fill-rule='evenodd'/%3E%3C/svg%3E");
}


@keyframes changeColor {
  0% {
    background-color: #201b58;
    background-size: 12%;
    filter: blur(0);
  }
  20% {
    background-color: #181818;
    background-size: 22%;
  }
  50% {background-size: 18%;
    filter: blur(1);}
  60% {background-size: 30%;}
  100% {
    background-color: #201b58;
    background-size: 12%;
  }
}

.ant-layout-header {
  padding: 0px 5% !important;
  margin-bottom: 25px;
  background: #181818 !important;
}

.ant-tabs-tab + .ant-tabs-tab {
  margin: 0 0 0 122px;
}

.glowBorder {
  box-shadow: rgb(105, 196, 166, .5) 0px 2px 5px 1px !important;
}


.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

li a {
  color: #69c4a6 !important;
}

#loginIcon {
  cursor: pointer;
}

#container2 {
  padding: 2px 32px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
}

#container3 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100vw;
}

#vaultContainerBig{
  width: 55%;
  background: #181818;
}

#vaultContainerSmall{
  display: flex;
    width: 35%;
    height: auto;
    background: #181818;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.stakingButton2, .stakingButton2 button {
  width: 100% !important;
}

@media screen and (max-width: 1005px) and (min-width: 760px) {
  h1, h2, h3 {
    font-size: 25px !important;
  }
  p {
    font-size: 13px !important;
  }
  button {
    width: 110px !important;
  }
  .cardContainer {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
  }
}

p::-webkit-scrollbar {
  display: none;
}
p {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}